@import url('https://rsms.me/inter/inter.css');

body {
    font-family: 'Inter', sans-serif !important;
}

.card.win,
.card.champ {
    background-color: yellowgreen !important;
}

.card.draw,
.card.weiw {
    background-color: lightgray !important;
}

.card.loss,
.card.nope {
    background-color: orangered !important;
}

.card.maybe {
    background-color: yellow !important;
}